/* Colours
Indigo: #4bb9c9
Indigo hover: #34c69a
*/

/* Overriding styles
*/

[data-md-color-primary="indigo"] .md-header {
  background-color: #fff;
  box-shadow: 0 0 0 transparent; }
  
.md-header {
    color: #4bb9c9;
}

@media only screen and (max-width: 59.9375em) {
    [data-md-color-primary="indigo"] .md-nav__source {
	    color: #34c69a;
    }
}

.md-footer-nav {
    background-color: rgba(236, 236, 224, 0.75);
    color: #4f533a;
}

.md-footer-meta {
    background-color: rgba(236, 236, 224, 0.75);
}

html .md-footer-meta.md-typeset a,
.md-footer-nav a {
    color: #4bb9c9;
}

.md-footer-nav a.md-source {
    display: block;
}

html .md-footer-meta.md-typeset a:hover,
html .md-footer-meta.md-typeset a:focus,
.md-footer-nav a:hover,
.md-footer-nav a:focus {
    color: #34c69a;
}

.md-footer-nav__direction {
	color: rgba(75, 185, 201, 0.7);
}

.md-footer-nav__direction:hover {
	color: rgba(52, 198, 154, 0.7);
}

.md-footer .md-source__repository {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    text-overflow: inherit;
    overflow: visible;
    vertical-align: middle;
}

html .md-nav--primary .md-nav__title::before {
	width: 100%;
	height: auto;
}

html .md-nav--primary .md-nav__title--site .md-nav__button {
	width: auto;
	height: auto;
}
.md-nav__button img {
    width: auto;
    height: 60px;
}

.md-typeset {
	line-height: 1.4;
}

.md-typeset p, .md-typeset ul, .md-typeset ol, .md-typeset blockquote {
	margin: 1.25em 0;
}

.md-typeset ul li, .md-typeset ol li {
    line-height: 1.25;
	margin-bottom: 0.45em;
	margin-right: 2em;
	margin-left: 2em;
	padding-left: 0.25em;
}
/* Custom
*/

@font-face {
  font-family: 'League Mono';
  font-weight: 300;
  font-style: normal;
  src: local('League Mono Light'), url('../fonts/League_Mono/LeagueMono-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'League Mono';
  font-weight: 600;
  font-style: normal;
  src: local('League Mono SemiBold'), url('../fonts/League_Mono/LeagueMono-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'League Mono';
  font-weight: 200;
  font-style: normal;
  src: local('League Mono Thin'), url('../fonts/League_Mono/LeagueMono-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: 400;
  font-style: normal;
  src: local('Inconsolata Regular'), url('../fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: 700;
  font-style: normal;
  src: local('Inconsolata Bold'), url('../fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
}

body {
    color: #4f533a;
    font-family: 'League Mono', Roboto, DejaVu Sans, Helvetica, sans-serif;
    font-weight: 300;
}

strong,
b { font-weight: 600; }

pre, code, kbd {
	font-family: "Inconsolata", "Courier New", Courier, monospace;
}

b pre, b code, b kbd,
strong pre, strong code, strong kbd { font-weight: 700; }

.md-typeset code, .md-typeset pre {
    font-size: 90%;
    letter-spacing: 1px;
}

.md-typeset h1 { font-size: 3.75rem; }
.md-typeset h2 { font-size: 2.975rem; }

.md-typeset h1,
.md-typeset h2 {
    font-weight: 200;
    letter-spacing: -2px;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    color: #34c69a;
    line-height: 1.2;
}

.md-flex__ellipsis { letter-spacing: -1px; }

.md-sidebar--secondary .md-nav__link {
	color: #8aadf7;
}

.md-sidebar .md-nav__link:focus,
.md-sidebar .md-nav__link:hover {
	color: #34c69a;
}

.md-sidebar .md-nav__link[data-md-state="blur"] {
	color: rgba(138, 173, 247, 0.65);
}

/* photos in workshops' page
*/

.md-typeset blockquote {
    padding-left: 0;
    border-left: 0;
}


.md-typeset blockquote p > img {
    max-width: 49%;
}

.md-typeset blockquote p > img {
    max-width: 49%;
}

